
*{
    font-family: CircularStd-Bold; 
}
@font-face { font-family: CircularStd-Bold; 
    src: url('../font/CircularStd-Bold.otf');
}


.fs-14{
    font-size: 14px;
}
.forUnderline::after{
    content: '';
    position: absolute;
    width: 40px;
    background-color: #FFB24D;
    height: 3px;
    left: 5px;
    border-radius: 5px;
    bottom: 0;
}
.fs-20{
    font-size: 20px;
}
.fs-50{
    font-size: 50px;
}
.bdcolor-yellow{
    border: #FFB24D 1px solid;
}
.color-yellow{
    color: #FFB24D;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
.reportTitle{
    font-size: 50px;
}
.reportTitle::after{
    content: '';
    position: absolute;
    width: 80%;
    height: 5px;
    background-color: #FFB24D;
    left: 10%;
    bottom: 0;
}
.underLine{
    height: 3px;
    width: 40px;
    border-radius: 3px;
    display: flex;
    margin-left: auto;
    background-color: #FFB24D;
}
.cusor-pointer{
    cursor: pointer;
}
.navbar-back-color{
    background-color: #031E39;
}
.homeHeader{
    background-image: url(../images/homeBack.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 100px 50px 150px;
    height: 80vh;
}
.headerText{
    font-size: 50px;
    max-width: 600px;
}
.headerBtn{
    padding: 20px;
    background-color: #FFB24D;
    border-radius: 5px;
}
.btnText{
    color: #041F3B;
    font-size: 30px;
}
.noUnderline{
    text-decoration: none;
}
.noUnderline:hover{
    text-decoration: none;
}
.btnTriangle{
    margin-left:30px;
}
.licensePart{
    padding: 100px 50px;
}
.labelOfText{
    color: #041F3B;
    font-size: 50px;
    margin-bottom: 30px;
}
.inputLicense{
    margin-bottom: 30px;
}
.licenseplate {
    color: #161615;
    background-color: #FFB24D;
    background-image: url(../images/nlEuro.svg);
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-size: contain;
    width: 30%;
    padding-left: 20px;
    border: 4px solid #080607;
    border-radius: 20px;
    outline: none;
    position: relative;
  }
  .licenseplateFix {
    color: #161615;
    background-color: #FFB24D;
    background-image: url(../images/nlEuro.svg);
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-size: contain;
    width: 100%;
    padding-left: 20px;
    border: 4px solid #080607;
    border-radius: 15px;
    outline: none;
    position: relative;
  }
  .searchBtn{
      color: #FFB24D;
      font-size: 30px;
      border-radius: 30px;
      background-color: #041F3B;
      padding: 10px 30px;
      cursor: pointer;
  }
  .itemPart{
      padding: 30px 50px;
  }
  .reportPart{
      padding: 30px 50px;
  }
  .reportImage{
      padding: 100px;
  }
  .emailForm{
      width: 100%;
      height: 50px;
      border-radius: 5px;
      border: 2px grey solid;
      font-size: 30px;
      padding: 10px;
  }
  .reportText{
      font-size: 30px;
      margin-bottom: 50px;
  }
  .emailForm:focus-visible{
      outline: none;
  }
  .reportBtn{
      padding: 15px;
      background-color: #FFB24D;
      border-radius: 10px;
      margin-top: 30px;
      cursor: pointer;
  }
  .reportRight{
      padding: 50px;
  }
  .reviewText{
      font-size: 50px;
  }
  .reviewText::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: #FFB24D;
  }
  .slick-list{
      width: 80%;
      margin: 0 auto !important;
      display: flex !important;
  }

  .reviewContent{
      background-color: #F5F5F5;
  }
  .carouselItem{
      padding: 40px;
      height: 100%;
  }
  .item{
    background-color: #fff;
    border-radius: 10px;
    padding: 45px 15px;
    height: 100%;
  }
  .slick-slide>div, .slick-slide>div>div{
      height: 100%;
  }
  .slick-track{
      display: flex !important;
  }
  .heightFull{
      height: 100%;
  }
  .slick-dots li button:before{
      font-size: 20px !important;
      color: #FFB24D !important;
  }
  .footer{
      background-color: #041F3B;
      color: white;
  }
  .slick-slider{
      padding-bottom: 50px;
  }
  .slick-dots{
      bottom: 20px !important;
  }
  .headerTitle{
      font-size: 40px;
      font-family: CircularStd-Bold;
  }
  .headerTitle>p::after{
        content: '';
        position: absolute;
        width: 80%;
        height: 5px;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -50%);
        background-color: #FFB24D;
        border-radius: 5px;
  }
  .modelTitle{
      font-size: 30px;
  }
  .modelInfoWrap{
      background-color: #F5F5F5;
      padding: 50px;
  }
  .modelInfo{
      border-radius: 10px;
      padding: 50px;
      background-color: #fff;
  }
  .typeOfCar{
      font-size: 20px;
  }
  .moreDetails{
      font-size: 40px;
  }
  .moreDetails>p::after{
    content: '';
    position: absolute;
    width: 80%;
    height: 5px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    background-color: #FFB24D;
    border-radius: 5px;
}
.detailTabs{
    padding: 100px;
    background-color: #F5F5F5;
}
.detailTabs>div{
    background-color: #fff;
    padding: 10px;
}
div[role="tabpanel"]{
    flex: 1;
}
.getReportBtn{
    padding: 15px;
    background-color: #FFB24D;
    border-radius: 10px;
}
.getReportBtnWrap{
    cursor: pointer;
    margin-top: 30px;
}
div[role="tablist"]>button{
    position: relative;
}
div[role="tablist"]>button:after{
    position: absolute;
    content: '\2023' !important;
    top: 0 !important;
    right: 15px !important;
    transform-origin: 50% 50%;
    transform: rotate(0);
    transition: .3s;
    color: #ffc107;
    font-size: 47px;
    height: 100%;
    display: flex;
    align-items: center;
}
div[role="tablist"]>button[tabindex="0"]:after{
    transform: rotate(90deg);
}
button[tabindex="-1"]{
    background-color: #f5f5f5 !important;
    border-radius: 5px !important;
    margin: 5px 0px;
}
button[tabindex="0"]{
    background-color: #041F3B !important;
    border-radius: 5px !important;
    color: #FFB24D;
    margin: 5px 0px;
}
.rwt__tablist[aria-orientation="vertical"] .rwt__tab[aria-selected="true"]:after{
    border: none !important;
}
.rightInfo{
    padding-left: 30px;
}
.tableWrap>table{
    width: 80%;
}
.tableWrap{
    height: 100%;
}

td{
    padding: 5px 0 5px 20px;
}

tr:nth-child(odd){
    background-color: #E4E7EA;
}
.flex-3{
    flex: 3;
}
.flex-7{
    flex: 7;
}
.licenseTitle>p::after{
    content: '';
    position: absolute;
    width: 80%;
    height: 5px;
    background-color: #FFB24D;
    left: 10%;
    border-radius: 5px;
    bottom: 0;
}
.licenseTitle{
    font-size: 40px;
    padding: 30px 0 50px;
}
.reportBox{
    padding: 60px 30px;
    background-color: #fff;
    border-radius: 10px;
}
.reportBox>p{
    font-size: 30px;
}
.reportBoxWrap{
    background-color: #F5F5F5;
    padding: 150px 0;
}
.licenseBtnWrap{
    padding: 30px 0px;
    margin-top: 30px;
}
.licenseBtn{
    padding: 20px 50px;
    background-color: #FFB24D;
    border-radius: 5px;
    cursor: pointer;
}
.licenseBtn::after{
    content: '\2023';
    position: absolute;
    font-size: 50px;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
}
.licenseWrap{
    min-height: 70vh;
}

  @media only screen and (max-width: 1023px) {
    .headerText{
        font-size: 30px;
    }
    .homeHeader{
        padding: 50px 20px;
    }
    .headerBtn{
        padding: 10px;
        background-color: #FFB24D;
        border-radius: 5px;
    }
    .btnText{
        font-size: 20px;
    }
    .labelOfText{
        font-size: 30px;
    }
    .licensePart{
        padding: 20px;
    }
    .licenseplate {
        color: #161615;
        background-color: #FFB24D;
        background-image: url(../images/nlEuro.svg);
        background-repeat: no-repeat;
        background-size:contain;
        font-family: 'Segoe UI', Arial, sans-serif;
        font-size: 40px;
        line-height: 30px;
        font-weight: bold;
        padding : 15px;
        text-transform: uppercase;
        text-align: center;
        border: 2px solid #080607;
        border-radius: 20px;
        width: 100%;
      }
    .licenseplateFix {
        color: #161615;
        background-color: #FFB24D;
        background-image: url(../images/nlEuro.svg);
        background-repeat: no-repeat;
        font-family: 'Segoe UI', Arial, sans-serif;
        font-size: 20px;
        line-height: 50px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        background-size: contain;
        width: 100%;
        padding-left: 20px;
        border: 4px solid #080607;
        border-radius: 10px;
        outline: none;
        position: relative;
      }
    .homeHeader{
        height: 60vh;
    }
    .searchBtn{
        font-size: 20px;
    }
    .inputLicense{
        margin-bottom: 20px;
    }
    .reportTitle{
        font-size: 30px;
    }
    .reportImage{
        padding: 0px;
    }
    .reportRight{
        padding: 0px;
    }
    .reportPart{
        padding: 20px;
    }
    .reportText{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .reportBtn{
        font-size: 16px;
    }
    .carouselItem{
        padding: 10px !important;
    }
    .slick-dots li button:before{
        font-size: 10px !important;
    }
    .modelInfo{
        padding: 20px;
    }
    .modelInfoWrap{
        padding: 20px;
    }
    .modelTitle{
        font-size: 25px;
        font-weight: 500;
    }
    .rightInfo{
        margin: 20px auto;
    }
    .detailTabs{
        padding: 5px;
    }
    .licenseTitle{
        font-size: 23px;
    }
    .reportBoxWrap{
        padding: 20px 0;
    }
    .reportBox{
        padding: 20px 15px;
    }
    .reportBox>p{
        font-size: 20px;
    }
    .licenseTitle {
        padding: 15px 0 10px;
    }
    .licenseBtn{
        padding: 20px 30px;
    }
    .licenseBtnWrap{
        margin-top: 20px !important;
    }
    .confirmImage{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}