.fs-14{
    font-size: 14px;
}
.forUnderline::after{
    content: '';
    position: absolute;
    width: 40px;
    background-color: #FFB24D;
    height: 3px;
    left: 5px;
    border-radius: 5px;
    bottom: 0;
}
.fs-20{
    font-size: 20px;
}
.fs-50{
    font-size: 50px;
}
.bdcolor-yellow{
    border: #FFB24D 1px solid;
}
.color-yellow{
    color: #FFB24D;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
.reportTitle{
    font-size: 50px;
}
.reportTitle::after{
    content: '';
    position: absolute;
    width: 80%;
    height: 5px;
    background-color: #FFB24D;
    left: 10%;
    bottom: 0;
}
.underLine{
    height: 3px;
    width: 40px;
    border-radius: 3px;
    display: flex;
    margin-left: auto;
    background-color: #FFB24D;
}
.cusor-pointer{
    cursor: pointer;
}
.navbar-back-color{
    background-color: #031E39;
}
.homeHeader{
    background-image: url(../images/homeBack.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 100px 50px 150px;
    height: 80vh;
}
.headerText{
    font-size: 50px;
    max-width: 600px;
}
.headerBtn{
    padding: 20px;
    background-color: #FFB24D;
    border-radius: 5px;
}
.btnText{
    color: #041F3B;
    font-size: 30px;
}
.noUnderline{
    text-decoration: none;
}
.noUnderline:hover{
    text-decoration: none;
}
.btnTriangle{
    margin-left:30px;
}
.licensePart{
    padding: 100px 50px;
}
.labelOfText{
    color: #041F3B;
    font-size: 50px;
    margin-bottom: 30px;
}
.inputLicense{
    margin-bottom: 30px;
}
.licenseplate {
    color: #161615;
    background-color: #FFB24D;
    background-image: url(../images/nlEuro.svg);
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-size: contain;
    width: 30%;
    padding-left: 20px;
    border: 4px solid #080607;
    border-radius: 15px;
    outline: none;
    position: relative;
  }
  .searchBtn{
      color: #FFB24D;
      font-size: 30px;
      border-radius: 30px;
      background-color: #041F3B;
      padding: 10px 30px;
      cursor: pointer;
  }
  .itemPart{
      padding: 30px 50px;
  }
  .reportPart{
      padding: 30px 50px;
  }
  .reportImage{
      padding: 100px;
  }
  .emailForm{
      width: 100%;
      height: 50px;
      border-radius: 5px;
      border: 2px grey solid;
      font-size: 30px;
  }
  .reportText{
      font-size: 30px;
      margin-bottom: 50px;
  }
  .emailForm:focus-visible{
      outline: none;
  }
  .reportBtn{
      padding: 15px;
      background-color: #FFB24D;
      border-radius: 10px;
      margin-top: 30px;
      cursor: pointer;
  }
  .reportRight{
      padding: 50px;
  }
  .reviewText{
      font-size: 50px;
  }
  .reviewText::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: #FFB24D;
  }


  @media only screen and (max-width: 1023px) {
        .headerText{
            font-size: 30px;
        }
        .homeHeader{
            padding: 50px 20px;
        }
        .headerBtn{
            padding: 10px;
            background-color: #FFB24D;
            border-radius: 5px;
        }
        .btnText{
            font-size: 20px;
        }
        .labelOfText{
            font-size: 30px;
        }
        .licensePart{
            padding: 20px;
        }
        .licenseplate {
            color: #161615;
            background-color: #FFB24D;
            background-image: url(../images/nlEuro.svg);
            background-repeat: no-repeat;
            background-size:contain;
            font-family: 'Segoe UI', Arial, sans-serif;
            font-size: 40px;
            line-height: 30px;
            font-weight: bold;
            padding-left: 10px;
            text-transform: uppercase;
            text-align: center;
            border: 2px solid #080607;
            border-radius: 10px;
            width: 100%;
          }
        .homeHeader{
            height: 60vh;
        }
        .searchBtn{
            font-size: 20px;
        }
        .inputLicense{
            margin-bottom: 20px;
        }
        .reportTitle{
            font-size: 30px;
        }
        .reportImage{
            padding: 0px;
        }
        .reportRight{
            padding: 0px;
        }
        .reportPart{
            padding: 20px;
        }
        .reportText{
            font-size: 20px;
            margin-bottom: 20px;
        }
        .reportBtn{
            font-size: 16px;
        }
        
  }

  .slick-list{
      width: 80%;
      margin: 0 auto !important;
  }

  .reviewContent{
      background-color: #F5F5F5;
  }